* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial  ;
}

/* TOP BAR */
.top-bar {
    background: #efc1bb;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 14px;
}

.top-icons {
    position: absolute;
    right: 20px;
}

.top-icons i {
    margin-left: 12px;
    cursor: pointer;
}

/* MAIN HEADER */
.main-header {
    background: #f4d8b9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

/* LOGO */
.logo>img{
    height: 120px;
    width: 300px;
}
/* SEARCH BAR */
.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5b3426;
    border-radius: 30px;
    overflow: hidden;
    width: 600px;
    height: 55px;
      margin-left: 100px; 
    margin-right: auto; 
}

.search-bar select {
    background: transparent;
    color: #fff;
    border: none;
    padding: 12px;
    outline: none;
    
}

.search-bar input {
    flex: 1;
    border: none;
    padding: 12px;
    background: transparent;
    color: #fff;
    outline: none;
    
}

.search-bar button {
    background: transparent;
    border: none;
    color: #fff;
    padding: 12px 18px;
    cursor: pointer;
}

/* HEADER ICONS */
.header-icons i {
    font-size: 18px;
    margin-left: 18px;
    cursor: pointer;
}

/* NAV BAR */
.nav-bar {
    background: #5b3426;
    padding: 12px 30px;
}

.nav-bar a {
    color: #fff;
    margin-right: 22px;
    text-decoration: none;
    font-size: 15px;
}

.nav-bar a:hover {
    text-decoration: underline;
}
/* hero-section */
.hero-section{
    background-image: url("Scooboo_banner.webp");
    width: 100%;
    height: 600px;
    background-size: cover;
}
/* panel */
.panel{
    display: flex;
    justify-content: space-evenly;
    

}
.panel1{
    background-size: cover;
    /* background-image: url("panel1.webp"); */
    width: 50%;
    height: 800px;
}
.panel1 img{
    width: 100%;
    height: 100%;
    

}
.panel2{
    width: 50%;
    height: 800px;
    background-color: #563027;
    display: grid;
    justify-content: center;

}
 .panel2 .msg{
    width: 500px;
    height: 200px;
    color: white;
    margin-left: 40px;
    padding-top: 100px;

    

}
.panel2 .msg h4{
       color: white;
       font-weight: 150;
       display: flex;
       margin-left: 60px;
       align-items: center;
       justify-content: center;
}
.panel2 .msg p{
    color: white;
    font-size: 35px;
    font-weight: 550;
    padding-left: 44px;
    padding-top: 40px;
}
.need{
    display: flex;
    justify-content: center;
    height: 390px;
}
.panel2 .need .need1{
    width:200px;
    height: 380px;
    background:#fff;
    padding:20px;  
    border: 2px solid black;
    border-radius: 10px;
    border: none;
    margin-right: 10px;
}

.pen-image{
    text-align:center;
    margin-bottom:15px; 
    transition: transform 0.3s ease;
    
}
.pen-image img{
     width:100%;
    max-height:180px;
    object-fit:contain;  
}
.pen-image:hover img{
    transform: scale(1.06);
}
.panel2 .need .need1 .description{
     text-align:left;
}
/* BRAND */
.brand{
    font-size:11px;
    font-weight: 600;
    color:#777;
    margin:0;
    text-transform:uppercase;
}

/* TITLE */
.title{
    font-size:14px;
    font-weight:400;
    margin:8px 0;
    line-height:1.3;
}

/* PRICE */
.price{
    margin-top:10px;
}

.new-price{
    color:#c40000;
    font-size:13.5px;
    font-weight:bold;
}

.old-price{
    color:#777;
    font-size:13.5px;
    text-decoration:line-through;
}



/* item-tool */
.item{
    display: block;
    background-color: #efc1bb;
    padding-top: 50px;
    padding-left: 100px; 
    border-top: 2px solid white;
}
.item p{
    color: #563027;
    font-size: 32px;
    padding: 30px 0px;
}
.item span{
    background-color: #b2927c;

}
.item-box{
      display: inline-block;
      height: 200px;
      width: 140px;
      padding: 10px;
      border: 2px solid white;
      background-size: cover;
}
.box-image{
}
.box-image img{
    height: 115px;


}
.item-box p{
    color: rgb(86, 48, 39);
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

/* add to cart button */
.add-to-cart{
    display: flex;
    
    justify-content: center;

}
.add-to-cart button{
    color: #5b3426;
    padding: 0px 40px 0px 40px;
    margin-bottom: 60px;
    border: 2px solid rebeccapurple;
    border-radius: 30px;
    border: none;
    font-size: 14px;
    font-weight: 550;
}

/* popular item reels section */

.popular-item{
    height: 600px;
    width: 100%;
    background-color: #563027;
    display: flex;
    align-items: center;
    justify-content: center;

}
.popular{
    height: 480px;
    width: 480px;
    background-size: cover;
    margin: 10PX;
    background-position: center center;
}
.popular:hover{
    background-size: 102%;
}

/* holiday season */
.container {
    width: 100%;
    height: 2000px;
    background-image: url("background-image.jpg");
    object-fit: fill;
    background-size: cover;
    display: flex;
    padding: 20px;
    background-repeat: no-repeat;

}
.container button{
    display: grid;

}

/* LEFT IMAGE */
.left-image {
    flex: 1;
    display: flex;
    align-items: center;
}

.left-image img {
    width: 95%;
    height: 100%;
    object-fit: fill;
}

/* RIGHT IMAGES */
.right-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-images img {
    width: 100%;
    height: 90%;
    object-fit: fill;

}

/* essential item */



/* exclusive */
.exclusive-scooboo{
             width: 100%;
             height:200px;
             padding-left: 20px;
             padding-right: 20px;
             background-color : #efc1bb;
}
.exclusive-scooboo img{
       width: 100%;
       height: 200px;
       object-fit: fill;
        transition: transform 0.4s ease;
       
}
.exclusive-scooboo:hover img {
    transform: scale(1.01);   /* 2% zoom */
}

/* two section */
.two-section{
    background-color: #563027;

}
.two-section .three-cart{
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;

}
.two-section .three-cart .cart1{
                 
                  width: 362px;
                  height: 400px;
                  margin: 20px;
                  margin-right: 0px;
                   background-size: cover;
                   overflow: hidden;
                     transition: transform 0.3s ease;
                
}
.two-section .three-cart .cart2{
     
                  width: 362px;
                  height: 400px;
                   margin: 20px;
                   margin-right: 0px;
                   background-size: cover;
                   overflow: hidden;
                     transition: transform 0.3s ease;
    

}
.two-section .three-cart .cart3{
            /* background-image: url("sunstar-image.webp"); */
                  width: 362px;
                  height: 400px;
                   margin: 20px;
                   margin-right: 0px;
                    background-size: cover;
                      overflow: hidden;
                     transition: transform 0.3s ease;

}
.cart1 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
      /* image div ke according fit */
     transition: transform 0.3s ease;
}
.cart2 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
      /* image div ke according fit */
     transition: transform 0.3s ease;
}
.cart3 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
      /* image div ke according fit */
     transition: transform 0.3s ease;
}
.two-section .three-cart .zoomin:hover img{
    transform: scale(1.03); 
     
           
}

              /* shop the feed */
.two-section p{
    color: #efc1bb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 500;
}
.feed{
    display: flex;
    padding-left: 180px;

} 
.feedback1{

    height: 535px;
    width: 250px;
    margin: 20px;
    border: 2px solid black;
    background-color: white;

}

.feedback2{
       height: 535px;
    width: 250px;
     margin: 20px;
    border: 2px solid black;
    background-color: white;


}
    
.feedback3{
      height: 535px;
    width: 250px;
     margin: 20px;
    border: 2px solid black;
    background-color: white;

    
}
/* stories */
/* SECTION */
.story{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background:#f2d5b5;
}
.stories{
    padding:50px 20px;
    text-align:center;
    /* background: radial-gradient(#ffffff 1px, transparent 1px); */
    background-size:25px 25px;
    overflow:hidden;
}

/* HEADING */
.stories h1{
    font-size:32px;
    margin-bottom:40px;
    color:#5a2e1a;
}

/* SLIDER WRAPPER */
.slider{
    position:relative;
    max-width:1100px;
    margin:auto;
    display:flex;
    align-items:center;
}

/* ARROWS */
.arrow-btn{
    font-size:40px;
    cursor:pointer;
    user-select:none;
    padding:10px;
    z-index:10;
}

/* VIEWPORT */
.viewport{
    overflow:hidden;
    width:100%;
}

/* CARDS CONTAINER */
.cards{
    display:flex;
    transition:transform 0.6s ease;
}

/* CARD */
.card{
    min-width:300px;
    height:480px;
    background:#fff;
    padding:25px;
    box-sizing:border-box;
    margin:0 15px;
    opacity:0.3;
    transform:scale(0.9);
    transition:all 0.4s ease;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

/* ACTIVE (CENTER) CARD */
.card.active{
    opacity:1;
    transform:scale(1.05);
}

.card p{
    font-size:15px;
    line-height:1.6;
}

/* NAME */
.name{
    font-weight:bold;
}

/* PRODUCT */
.product{
    font-size:14px;
}

/* RESPONSIVE */
@media(max-width:768px){
    .arrow-btn{
        display:none;
    }
    .card{
        min-width:90%;
        margin:0 5%;
        opacity:1;
        transform:none;
    }
}



